version: "3.9"

services:
  bot:
    build:
      context: .
      dockerfile: Dockerfile
    platform: linux/amd64
    container_name: yt_rtmp_bot
    restart: unless-stopped
    env_file:
      - .env
    volumes:
      - bot_storage:/app/storage
    environment:
      - PYTHONUNBUFFERED=1
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"

volumes:
  bot_storage:
    driver: local

